.features_card{
    display: flex;
    /* margin: auto; */
    margin-bottom: 5em;
}
.reverse{
    display: flex;
    margin-bottom: 5em;
    flex-direction: row-reverse;

}
.features_right{
    margin-right: 2em;
}
.features_right img{
    height: 330px;

}
.features_left{
    margin-top: -0.5em;
    color:  #0c2044;
    margin: 0 1em;
}
.features_left .option{
    font-weight: 600;
}
.features_left h1{
    font-size: 35px;
}
.features_left .feature_desc{
    font-size: 20px;
    line-height: 1.6;
    font-weight: 500;
    color: #5e6c84;
}
.features_left .item{
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #0c2044;
    font-size: 14px;
}
.features_left button{
    background-color: transparent;
    border: none;
    cursor: pointer;

}
.MuiSvgIcon-root{
    color: #0c2044;
    font-size: 20px;
    margin-right: 5px;
}
.learn_more{
    width: 90%;
    transition: all 0.2s ease-in-out;
}

.learn_more .intro_para{
    font-size: 18px;
    line-height: 1.6;
    font-weight: 500;
    margin-left: 15px;
    /* color: #5e6c84; */
}
.learn_more .lists{
    font-size: 18px;
    line-height: 2;
    font-weight: 500;
}
@media (max-width:800px) {
    .features_card ,.reverse{
        margin-left: auto;
        flex-direction: column;
        width: 90%;
    }
    .features_right img{
        margin: auto;
        height: 200px;
    }
    .features_left h1{
        font-size: 25px;
    }
    .features_left .feature_desc{
        font-size: 20px;
    }
    .features_left button{
        margin-top:-0.8em;
        margin-left:-0.8em;
    }
    .features_right{
        margin-right: auto;
    }
}